:root {
    --font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    --black: #000;
    --white: #fff;
    --gray: rgb(142,142,147);
    --red: rgb(255,59,48);
    --orange: rgb(255,149,0);
    --yellow: rgb(255,204,0);
    --green: rgb(40,205,65);
    --blue: rgb(0,122,255);
    --indigo: rgb(88,86,214);
    --purple: rgb(175,82,222);
    --pink: rgb(255,45,85);

    --radius-small: 0.75rem;
    --radius-large: 1.5rem;
    --button-height: 2.8125rem;

    height: 800px;
    width: 1280px;
}

* {
    box-sizing: border-box;
    font-family: var(--font);
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

html {margin: 0 auto;}

.hide {display: none !important;}

/* texts */

/* 
    Weight Name
    100 = Thin/Hairline; 
    200 = Extra Light/Ultra Light; 
    300 = Light; 
    400 = Normal/Regular; 
    500 = Medium; 
    600 = Semi Bold/Demi Bold; 
    700 = Bold; 
    800 = Extra Bold/Ultra Bold; 
    900 = Black/Heavy; 
    950 = Extra Black/Ultra Black; 
*/

h1, h2, h3, a, input, li, p {
    margin: 0;
    padding: 0;
    text-wrap: pretty;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 125%;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

ul {margin: 0;}

a, input, li, p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 140%;
}

a.hyperlink {transition-property: color;}

a.hyperlink:default {color: var(--blue);}
a.hyperlink:hover {color: var(--indigo);}
a.hyperlink:active {color: var(--pink);}
a.hyperlink:visited {color: var(--purple);}

span.btn {
    font-size: 1.5rem;
    font-weight: 500;
}

/* buttons and input */

a.btn, button, input {
    align-items: center;
    border: none;
    border-radius: var(--radius-small);
    display: flex;
    gap: 0.5rem;
    height: var(--button-height);
    justify-content: center;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

a, button, input {cursor: pointer;}

a.btn, button {transition-property: background-color;}

a.btn:hover, button:hover {background-color: var(--white) !important;}

a.btn:active, button:active {border: 0.25rem solid var(--orange) !important;}

input {
    border: 0.25rem solid var(--black);
    transition-property: border;
}

input:hover {border-color: var(--blue);}

input:focus {border-color: vaar ;}

a.btn svg, button svg {
    fill: var(--white);
    transition-property: fill;
}

span {
    color: var(--white);
    transition-property: color;
}

/* images */

picture, img {border-radius: var(--radius-large);}

/* header and main frame sizes */

header, main, section#help, section#content {
    padding: 2rem;
    width: 100%;
}

main, section#content {height: 38.5rem;}

header {
    height: 11.5rem;
    position: relative;
    top: 0;
    z-index: 10;
}

header h1 {color: var(--white);}

/* default header */

header#default {background-color: var(--blue);}

header#default button#header-help, header#default button#help-close {
    bottom: 2rem;
    position: absolute;
    right: 2rem;
}

button#header-help {background-color: var(--orange);}

button#header-help:hover svg {fill: var(--orange);}

button#header-help:hover span {color: var(--orange);}

button#help-close {background-color: var(--red);}

button#help-close:hover svg {fill: var(--red);}

button#help-close:hover span {color: var(--red);}

/* header for operator information */

header#operator {background-color: var(--purple);}

div.operator-info {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

img#logo {
    border-radius: 0;
    height: 7.5rem;
    width: auto;
}

div.header-btns {
    align-items: flex-end;
    bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
    position: absolute;
    right: 2rem;
}

a.btn#location {background-color: var(--orange);}

a.btn#location:hover svg {fill: var(--orange);}

a.btn#location:hover span {color: var(--orange);}

button#close {background-color: var(--red);}

button#close:hover svg {fill: var(--red);}

button#close:hover span {color: var(--red);}

/* grid system of homepage */

/* thumbnails on homepage */

button.thumbnail, button.thumbnail div.filler{
    border-radius: var(--radius-large);
    height: 10.5rem;
    width: 14rem;
}

button.thumbnail {
    background: none;
    padding: 0;
}

button.thumbnail picture, button.thumbnail img {
    border-radius: var(--radius-large);
    height: 100%;
    width: 100%;
    transition-property: border-radius;
}

button.thumbnail:hover picture, button.thumbnail:hover img, button.thumbnail:active picture, button.thumbnail:active img {border-radius: calc(var(--radius-large) - 0.25rem);}

button.thumbnail div.filler {
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: row nowrap;
    padding: var(--radius-small);
    position: absolute;
    transition-property: background-color;
    z-index: 10;
}

button.thumbnail div.filler h2 {
    color: var(--white);
    opacity: 0;
    text-align: left;
    transition-property: opacity;
}

button.thumbnail:hover div.filler {background-color: rgba(0, 0, 0, 0.5);}

button.thumbnail:hover div.filler h2 {opacity: 100%;}

button.thumbnail:active div.filler {border:0.25rem solid var(--orange);}

main {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        'chicago-l mbta-t nyc-subway path sir'
        'bart input-box input-box input-box septa-metro'
        'la-metro miami-metro marta dc-metro patco';
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.input-box {grid-area: input-box;}
#chicago-l {grid-area: chicago-l;}
#mbta-t {grid-area: mbta-t;}
#nyc-subway {grid-area: nyc-subway;}
#path {grid-area: path;}
#sir {grid-area: sir;}
#septa-metro {grid-area: septa-metro;}
#patco {grid-area: patco;}
#dc-metro {grid-area: dc-metro;}
#marta {grid-area: marta;}
#miami-metro {grid-area: miami-metro;}
#la-metro {grid-area: la-metro;}
#bart {grid-area: bart;}

/* secondary frames */

section.input-box {
    background-color: var(--yellow);
    border-radius: calc(var(--radius-large) - 0.25rem);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    padding: 2rem;
}

div.main-btns {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    gap: 1rem;
}

h2#prompt.red {color: var(--red);}

button#submit {background-color: var(--green);}

button#submit:hover svg {fill: var(--green);}

button#submit:hover span {color: var(--green);}

/* content display section */

section#content {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 2rem;
}

section.left {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

section.left picture, section.left img {
    height: 30.1875rem;
    width: 40.25rem;
}

a.btn#link {background-color: var(--blue);}

a.btn#link:hover svg {fill: var(--blue);}

a.btn#link:hover span {color: var(--blue);}

section.right {
    border: 0.25rem solid var(--black);
    border-radius: var(--radius-large);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    gap: 1.25rem;
    padding: 1.5rem;
}

div.zodiac, div.writing {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

/* help section */

section#help {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 80%;
}

section#help article, section#help section {
    align-content: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75rem;
}
